/* Summary Section */
.summary-container {
  background-color: #f8f7f7; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  min-height: 320px; 
  position: relative; 
}

.summary-title {
  font-size: 26px;
  margin-bottom: 38px;
  font-weight: 700;
  color: #003366; 
  text-align: left; 
}
